<template></template>
<script lang="ts">
import { defineComponent, onMounted } from "vue";
import { useRouter } from "vue-router";
import { Path } from "@/constant";
import { configStore } from "@/store";

export default defineComponent({
  setup() {
    const router = useRouter();
    onMounted(() => {
      configStore.commit("remove");
      router.push(Path.login);
    });
  },
});
</script>
