<template>
  <div
    :style="style"
    class="text-field filled"
    :class="[
      direction === directionEnums.RTL &&
      defaultTextInputType != textInputTypeEnums.PASSWORD
        ? 'rtl'
        : 'ltr',
      isValid ? '' : 'invalid',
      classAttr,
    ]"
  >
    <Icon
      v-if="defaultTextInputType === textInputTypeEnums.PASSWORD"
      :name="passwordIcon"
      class-attr="icon"
      @click="onClickPasswordIcon"
    />
    <Icon
      v-else-if="icon"
      :name="icon"
      class-attr="icon"
      @click="onClickIcon"
    />
    <input
      autocomplete="off"
      ref="inputElement"
      :value="value"
      @input="onInputHandler($event)"
      @keypress="onKeyPressHandler($event)"
      @keyup="onKeyUpHandler($event)"
      @click="onClickHandler"
      @focus="onFocusHandler"
      @blur="onBlurHandler"
      class="input"
      placeholder=" "
      :disabled="disabled"
      :type="textInputType"
      :required="isRequired"
    />

    <label :class="directionEnums.RTL">
      {{ label }} {{ isRequired ? "*" : "" }}
    </label>

    <div class="extra">
      <span v-if="!isValid" class="error-text">{{ errorText }}</span>
      <span v-else-if="helperText" class="helper-text">{{ helperText }}</span>
      <span v-if="charCount" class="char-count"
        >{{ charLen }} / {{ maxlength }}</span
      >
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  PropType,
  computed,
  watch,
  SetupContext,
} from "vue";
import {
  isValidEmail,
  isEnglish,
  isPersian,
  isValidPassword,
  isValidTel,
  isValidUrl,
} from "./validation";
import { DirectionEnums, TextInputTypeEnums, IconEnums } from "../enums";
import { Icon } from "../";
export default defineComponent({
  name: "TextField",
  emits: ["keypress", "update:value", "focus", "blur", "click", "iconClick"],
  components: { Icon },
  props: {
    classAttr: {
      type: String,
    },
    style: {
      type: [String, Object],
    },
    minlength: {
      type: Number,
    },
    maxlength: {
      type: Number,
    },
    min: {
      type: Number,
    },
    max: {
      type: Number,
    },
    label: {
      type: String,
      default: "Label",
    },
    labelDirection: {
      type: String as PropType<DirectionEnums>,
      default: DirectionEnums.DEFAULT,
    },
    helperText: {
      type: String,
      default: "",
    },
    errorText: {
      type: String,
      default: "error text",
    },
    value: {
      type: String,
      default: "",
    },
    direction: {
      default: DirectionEnums.DEFAULT,
      type: String as PropType<DirectionEnums>,
    },
    isRequired: {
      default: false,
      type: Boolean,
    },
    isPersian: {
      default: false,
      type: Boolean,
    },
    isEnglish: {
      default: false,
      type: Boolean,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    debounce: {
      type: Boolean,
      default: false,
    },
    charCount: {
      default: false,
      type: Boolean,
    },
    type: {
      default: TextInputTypeEnums.DEFAULT,
      type: String as PropType<TextInputTypeEnums>,
    },
    id: {
      default: "",
      type: String,
    },
    error: {
      default: "",
      type: String,
    },
    icon: {
      type: String as PropType<IconEnums>,
    },
  },
  setup(props, context: SetupContext) {
    const directionEnums = DirectionEnums;
    const textInputTypeEnums = TextInputTypeEnums;
    const dir = ref(props.direction);
    const errorText = ref(props.errorText);

    var isValid = ref(true);
    let textInputType = ref(props.type);
    const defaultTextInputType = ref(props.type);
    let passwordIcon = ref<IconEnums>(IconEnums.EYE);
    let timer: number;
    let inputElement = ref<HTMLElement | null>(null);

    function setError(text: string) {
      isValid.value = false;
      errorText.value = text;
    }
    function removeError() {
      isValid.value = true;
      errorText.value = "";
    }
    function onKeyPressHandler(e: any) {
      context.emit("keypress", e);
      if (props.maxlength && props.maxlength <= props.value.length) {
        e.preventDefault();
      }
    }
    function onKeyUpHandler(e: any) {
      context.emit("focus", e);
    }
    function onInputHandler(e: any) {
      context.emit("update:value", e.target.value);
      clearTimeout(timer);
      timer = window.setTimeout(
        () => {
          isValidInput();
        },
        props.debounce ? 500 : 0
      );
    }
    function onFocusHandler(e: any) {
      context.emit("focus", e);
    }
    function onBlurHandler(e: any) {
      context.emit("blur", e);
    }
    function onClickHandler(e: any) {
      context.emit("click", e);
    }
    function onClickPasswordIcon() {
      if (textInputType.value === TextInputTypeEnums.PASSWORD) {
        textInputType.value = TextInputTypeEnums.TEXT;
        passwordIcon.value = IconEnums.EYE_OFF;
      } else {
        passwordIcon.value = IconEnums.EYE;
        textInputType.value = TextInputTypeEnums.PASSWORD;
      }
    }
    function isValidInput() {
      removeError();
      if (props.isRequired && !props.value.length) {
        setError(`${props.label} is required! `);
      }
      if (props.type === TextInputTypeEnums.NUMBER) {
        if (props.max && parseInt(props.value) > props.max) {
          setError(`max value must be ${props.max} `);
        }
        if (props.min && parseInt(props.value) < props.min) {
          setError(`min value must be ${props.min} `);
        }
      }
      if (props.minlength && props.minlength > props.value?.length) {
        setError(`minimum character must be ${props.minlength} `);
      }
      if (props.maxlength && props.maxlength < props.value?.length) {
        setError(`maximum character must be ${props.maxlength} `);
      }
      if (
        props.type === TextInputTypeEnums.EMAIL &&
        !isValidEmail(props.value)
      ) {
        setError("Email is invalid");
      }

      if (props.type === TextInputTypeEnums.URL && !isValidUrl(props.value)) {
        setError("Url is invalid");
      }
      if (
        props.type === TextInputTypeEnums.PASSWORD &&
        !isValidPassword(props.value)
      ) {
        setError(`${props.label} Must be at least 6 characters`);
      }
      // console.log("isValid", isValid.value);
      return isValid.value;
    }
    const charLen = computed(() => {
      return props.value.length;
    });
    function onClickIcon() {
      context.emit("iconClick");
    }
    function focus() {
      inputElement.value?.focus();
    }

    // watch([props.value], function (newValues, oldValues) {
    //   console.log("newValue", newValues[0]);
    //   console.log("oldValue", oldValues[0]);
    // });
    watch(
      () => isValid,
      (newValue, oldValue) => {
        console.log("isValid newValue", newValue);
        console.log("isValid oldValue", oldValue);
      }
    );

    return {
      errorText,
      isValid,
      directionEnums,
      textInputTypeEnums,
      onInputHandler,
      onFocusHandler,
      onBlurHandler,
      onClickHandler,
      onKeyPressHandler,
      onKeyUpHandler,
      onClickPasswordIcon,
      textInputType,
      defaultTextInputType,
      passwordIcon,
      isValidInput,
      IconEnums,
      charLen,
      onClickIcon,
      inputElement,
      focus,
    };
  },
});
</script>

<style scoped src="./text-field.scss" lang="scss"></style>
