<template>
  <div class="antialiased bg-gray-200 text-gray-900">
    <div class="flex items-center h-screen w-full">
      <div
        class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto"
      >
        <span class="block w-full text-xl uppercase font-bold mb-4">Login</span>
        <LoginForm @success="onSuccessLoginForm"></LoginForm>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, getCurrentInstance, onMounted } from "vue";
import LoginForm from "./LoginForm.vue";
import { useRouter } from "vue-router";
import { isLoggedIn } from "../auth";

export default defineComponent({
  components: { LoginForm },

  setup(props, context) {
    const app = getCurrentInstance();
    const router = useRouter();

    onMounted(() => {
      if (isLoggedIn()) {
        router.push("/");
      }
    });

    function onSuccessLoginForm() {
      router.push("/");
    }
    return {
      onSuccessLoginForm,
    };
  },
});
</script>
