<template>
  <form class="mb-4" @submit.prevent="submit" novalidate>
    <TextField
      ref="emailInput"
      v-model:value="user.email"
      isRequired
      :type="textInputTypes.EMAIL"
      label="Email"
      isEnglish
    />
    <TextField
      ref="passwordInput"
      v-model:value="user.password"
      isRequired
      :type="textInputTypes.PASSWORD"
      label="Password"
    />
    <Button :isLoading="loading" title="Login" />
  </form>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  reactive,
  getCurrentInstance,
  SetupContext,
} from "vue";
import { configStore } from "@/store";
import {
  AlertTypeEnums,
  DirectionEnums,
  TextInputTypeEnums,
  ButtonTypeEnums,
} from "@/ui/enums";
import { TextField, Button, Snackbar } from "@/ui";
import { Services } from "@/services";
import { ServiceModel } from "@/model";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "LoginForm",
  components: { TextField, Button },
  emits: ["success"],
  setup(props, context: SetupContext) {
    const app = getCurrentInstance();
    const textInputTypes = TextInputTypeEnums;
    const buttonType = ButtonTypeEnums;
    const directionEnums = DirectionEnums;
    const alertTypeEnums = AlertTypeEnums;
    let passwordInput = ref<any>(null);
    let emailInput = ref<any>(null);
    let loading = ref(false);
    let x = ref(false);

    const user = reactive({
      email: "eve.holt@reqres.in",
      password: "cityslicka",
    });
    async function submit() {
      if (!isValidLoginForm()) {
        return;
      }
      const loginRequest = new ServiceModel.authentication.LoginRequest();
      loginRequest.password = user.password;
      loginRequest.email = user.email;
      loading.value = true;
      const response = await new Services.AuthenticationService().login(
        loginRequest
      );
      loading.value = false;
      if (!response.status) {
        Snackbar.createToast(response.message, {
          type: "danger",
          position: "top-center",
          showIcon: true,
          timeout: 15000,
        });
        return;
      }
      const configModel = new ServiceModel.authentication.Config();
      configModel.authorization = response.data.token;
      configStore.commit("set", configModel);
      Snackbar.createToast("welcome", {
        type: "success",
        position: "top-center",
        showIcon: true,
        timeout: 15000,
      });
      // console.log("config.state.token", config.state.token);
      context.emit("success", response.data.token);
    }
    function isValidLoginForm() {
      let isValid = true;
      if (!passwordInput?.value?.isValidInput()) {
        isValid = false;
      }
      if (!emailInput?.value?.isValidInput()) {
        isValid = false;
      }
      return isValid;
    }
    return {
      alertTypeEnums,
      buttonType,
      directionEnums,
      textInputTypes,
      user,
      passwordInput,
      emailInput,
      loading,
      submit,
    };
  },
});
</script>
