button {
    padding: 0.5rem 0.7rem;
    font-size: 1.15rem;
    outline: none;
    transition: 0.3s;
    letter-spacing: 0.0125em;
    // min-width: 100px;
    @apply flex justify-center items-center relative mb-5;
    &.contained {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
        background-color: var(--primary-7);
        color: var(--neutral-1);
        @apply rounded;
        &:disabled {
            background-color: rgba(42, 44, 46, 0.38);
            @apply cursor-not-allowed;
        }
        .icon {
            color: var(--neutral-1);
        }
    }
    &.outlined {
        background-color: var(--neutral-1);
        border: 1px solid var(--primary-7);
        color: var(--primary-7);
        @apply rounded;
        &:disabled {
            border: 1px solid rgba(0, 0, 0, 0.38);
            color: rgba(0, 0, 0, 0.38);
            @apply cursor-not-allowed;
        }
        .icon {
            color: var(--primary-7);
        }
    }
    &.text {
        background-color: transparent;
        color: var(--primary-7);
        font-size: 1.35rem;
        line-height: 1.6rem;
        @apply font-semibold;
        &:disabled {
            color: rgba(0, 0, 0, 0.38);
            @apply cursor-not-allowed;
        }
        .icon {
            color: var(--primary-7);
        }
    }
    .icon {
        font-size: 1.7rem;
        @apply pr-2;
    }
}