<template>
  <button
    @click="onClickHandler"
    :style="style"
    :class="[type, rounded, classAttr]"
    :disabled="isLoading || disabled ? true : false"
  >
    <Icon classAttr="icon" v-if="icon" :name="icon" />

    <span v-if="!isLoading">
      {{ title }}
    </span>
    <Spinner v-if="isLoading && !loadingCaption" />
    <span v-if="isLoading && loadingCaption">{{ loadingCaption }}</span>
  </button>
</template>

<script lang="ts">
import { ButtonTypeEnums, IconEnums, RoundedEnums } from "../enums";
import { Icon, Spinner } from "../";
import { useRouter } from "vue-router";
import { defineComponent, PropType, SetupContext } from "vue";
export default defineComponent({
  name: "Button",
  components: { Spinner, Icon },
  props: {
    type: {
      type: String as PropType<ButtonTypeEnums>,
      default: ButtonTypeEnums.DEFAULT,
    },
    icon: {
      type: String as PropType<IconEnums>,
    },
    title: {
      type: String,
      default: "",
    },

    isLoading: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },

    loadingCaption: {
      type: String,
      default: "",
    },
    classAttr: {
      type: String,
    },
    style: {
      type: [String, Object],
    },
    rounded: {
      type: String as PropType<RoundedEnums>,
      default: RoundedEnums.NORMAL,
    },
    href: {
      type: String,
      default: "",
    },
  },
  setup(props, context: SetupContext) {
    function onClickHandler(e: any) {
      if (props.href) {
        useRouter().push(props.href);
      } else {
        // context.emit("click", e);
      }
    }

    return {
      onClickHandler,
    };
  },
});
</script>

<style scoped src="./button.scss"></style>
