html,
body {
    font-size: 14px;
    // direction: rtl !important;
}

:root {
    /* Primary Colors */
    --primary-1: #2286c3;
    --primary-2: #0077c2;
    --primary: #004ecb;
    --primary-4: #003c8f;
    --primary-5: #002171;
    --primary-6: #6750a4;
    --primary-7: #6200ee;
    /* Secondary Colors */
    --secondary-1: #9499b7;
    --secondary-2: #6f79a8;
    --secondary: #49599a;
    --secondary-4: #26418f;
    --secondary-5: #002984;
    /* Background Color */
    --bg-color: #eceff1;
    --bg-color-2: #cfd8dc;
    /* Border Color */
    --border-1: #6b737a;
    --border-2: #c1c1c2;
    /* Neutral Colors */
    --neutral-1: #ffffff;
    --neutral-2: #f2f2f2;
    --neutral-3: #e0e0e0;
    --neutral-4: #bdbdbd;
    --neutral-5: #5f5f5f;
    --neutral-6: #282b2f;
    --neutral-7: #393e44;
    --neutral-8: #2d3035;
    --neutral-9: #ebebeb;
    --neutral-10: #000000;
    --neutral-11: #f5f5f5;
    --neutral-12: #384048;
    --neutral-13: #5e6368;
    --neutral-14: #a2a3a4;
    --neutral-15: #e7e0ec;
    --neutral-16: #49454f;
    --neutral-17: #fffbfe;
    --neutral-18: #1c1b1f;
    --neutral-19: #cac4d0;
    --neutral-20: #f4eff4;
    --neutral-21: #aea9b4;
    --neutral-22: #e8def8;
    --neutral-23: #1d192b;
    /* Text Colors */
    --error: #d32f2f;
    --success: #2e7d32;
    --disabled: #cebdbd;
    --warning: #ed6c02;
    --info: #0288d1;
}