<script lang="ts">
import { TextColor, TextSize, IconEnums } from "../enums";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "Icon",
  props: {
    name: {
      type: String as PropType<IconEnums>,
      required: true,
    },
    size: {
      type: String as PropType<TextSize>,
      default: TextSize.SIZE3XL,
    },
    color: {
      type: String as PropType<TextColor>,
      default: TextColor.NEUTRAL6,
    },
    classAttr: {
      type: String,
      default: "",
    },
    style: {
      type: [String, Object],
      default: "",
    },
  },
});
</script>

<template>
  <span :class="[classAttr, size, color, 'mdi mdi-' + name]" :style="style" />
</template>
