<template>
  <Alert :type="AlertTypeEnums.Info" title="Shamim Project Test" />
</template>

<script lang="ts" setup>
import { Alert } from "@/ui";
import { AlertTypeEnums } from "@/ui/enums";
</script>
