<template>
  <div
    :style="{
      width: size + 'px',
      height: size + 'px',
      borderWidth: size / 10 + 'px',
    }"
    class="inline-block loading"
  ></div>
</template>
<script lang="ts">
import { TextSize, TextColor } from "../enums";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "Spinner",
  components: {},
  props: {
    size: {
      type: Number,
      default: 20,
    },
    color: {
      type: String as PropType<TextColor>,
      default: TextColor.NEUTRAL6,
    },
    classAttr: {
      type: String,
      default: "",
    },
    style: {
      type: String,
      default: "",
    },
  },

  setup(props, context) {},
});
</script>
<style scoped src="./spinner.scss"></style>
