<style scoped src="./label.scss"></style>

<template>
  <p
    :style="style"
    ref="element"
    :class="[classAttr, truncate ? 'truncate' : '']"
  >
    <slot><em>label</em></slot>
  </p>
</template>
<script lang="ts">
import { watch, SetupContext, Ref, ref, PropType, defineComponent } from "vue";
export default defineComponent({
  name: "Label",
  props: {
    classAttr: {
      type: String,
      default: "",
    },
    style: {
      type: [String, Object],
      default: "",
    },
    truncate: {
      type: Boolean,
      default: false,
    },
    tooltip: {
      type: Boolean,
      default: false,
    },
    tip: {
      type: String,
      default: "",
    },
  },
  components: {},
  setup(props: any, context: SetupContext) {
    const element = ref(null);
    // console.log("style", String(props.style));
    return {
      element,
    };
  },
});
</script>
