.truncate {
    @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
}

.row {
    @apply flex flex-row justify-center items-center;
}

.col {
    @apply flex flex-col justify-center items-center;
}