<template>
  <Spinner class="flex item-center mx-auto" :size="50" v-if="loading" />
  <Alert
    v-else-if="errorMessage"
    :type="AlertTypeEnums.Error"
    :text="errorMessage"
  />
  <div v-else class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
    <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">
      <template v-for="(post, i) in postList" :key="i">
        <PostCard :post="post" />
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { SetupContext, ref, onMounted, defineComponent } from "vue";
import { Spinner, Alert } from "@/ui";
import { AlertTypeEnums, TextSize } from "@/ui/enums";
import { Services } from "@/services";
import { ServiceModel } from "@/model";
import PostCard from "./PostCard.vue";

export default defineComponent({
  components: { Spinner, Alert, PostCard },
  prop: { Spinner, Alert },

  setup(props, context: SetupContext) {
    let loading = ref(false);
    let errorMessage = ref("");
    let postList = ref<ServiceModel.post.Post[]>([]);

    onMounted(async () => {
      await getPostList();
    });

    async function getPostList() {
      loading.value = true;
      const response = await new Services.PostService().list();
      loading.value = false;
      if (!response.status) {
        errorMessage.value = response.message;
        return;
      }
      postList.value = response.data;
    }
    return {
      AlertTypeEnums,
      TextSize,
      loading,
      errorMessage,
      postList,
    };
  },
});
</script>
