<template>
  <div class="rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <router-link
        :to="'/posts/' + post?.id"
        class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
      >
        {{ post?.title }}
      </router-link>
      <p class="truncate text-gray-500 text-sm">{{ post?.body }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { SetupContext, PropType, onMounted, defineComponent } from "vue";
import { ServiceModel } from "@/model";
import { Path } from "@/constant";

export default defineComponent({
  props: {
    post: {
      type: Object as PropType<ServiceModel.post.Post>,
    },
  },
  setup(props, context: SetupContext) {
    onMounted(() => {});

    return {};
  },
});
</script>
