<template>
  <Spinner class="flex item-center mx-auto" v-if="loading" />
  <Alert
    v-else-if="errorMessage"
    :type="AlertTypeEnums.Error"
    :text="errorMessage"
  />
  <PostCard :post="post" />
</template>
<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { Alert, Spinner } from "@/ui";
import { AlertTypeEnums } from "@/ui/enums";
import { useRoute } from "vue-router";
import { ServiceModel } from "@/model";
import { Services } from "@/services";
import PostCard from "./PostCard.vue";

export default defineComponent({
  components: { Spinner, Alert, PostCard },
  setup() {
    const route = useRoute();
    let postId = ref<number | undefined>(undefined);
    let loading = ref(false);
    let errorMessage = ref("");
    let post = ref<ServiceModel.post.Post>();

    onMounted(async () => {
      postId.value = Number(route.params.id);
      await getPost(postId.value);
    });

    async function getPost(postId: number) {
      if (!postId) {
        errorMessage.value = "post id is empty!";
        return;
      }
      loading.value = true;
      const response = await new Services.PostService().getPost(postId);
      loading.value = false;
      if (!response.status) {
        errorMessage.value = response.message;
        return;
      }
      post.value = response.data;
    }

    return {
      AlertTypeEnums,
      loading,
      errorMessage,
      post,
    };
  },
});
</script>
