<template>
  <Spinner class="flex item-center mx-auto" v-if="loading" />
  <Alert
    v-else-if="errorMessage"
    :type="AlertTypeEnums.Error"
    :text="errorMessage"
  />
  <div class="container mx-auto">
    <div
      class="max-w-3xl mb-10 rounded overflow-hidden flex flex-col mx-auto text-center"
    >
      <h1
        class="max-w-3xl mx-auto text-xl sm:text-4xl font-semibold inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2"
      >
        {{ photo?.title }}
      </h1>
      <img class="w-full my-4" :src="photo?.url" :alt="photo?.title" />
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { Alert, Spinner } from "@/ui";
import { AlertTypeEnums } from "@/ui/enums";
import { useRoute } from "vue-router";
import { ServiceModel } from "@/model";
import { Services } from "@/services";
import PhotoCard from "./PhotoCard.vue";

export default defineComponent({
  components: { Spinner, Alert, PhotoCard },
  setup() {
    const route = useRoute();
    let photoId = ref<number | undefined>(undefined);
    let loading = ref(false);
    let errorMessage = ref("");
    let photo = ref<ServiceModel.photo.Photo>();

    onMounted(async () => {
      photoId.value = Number(route.params.id);
      await getPhoto(photoId.value);
    });

    async function getPhoto(photoId: number) {
      if (!photoId) {
        errorMessage.value = "photo id is empty!";
        return;
      }
      loading.value = true;
      const response = await new Services.PhotoService().getPhoto(photoId);
      console.log("response", response);

      loading.value = false;
      if (!response.status) {
        errorMessage.value = response.message;
        return;
      }
      photo.value = response.data;
    }

    return {
      AlertTypeEnums,
      loading,
      errorMessage,
      photo,
    };
  },
});
</script>
