<template>
  <div class="rounded overflow-hidden shadow-lg">
    <router-link :to="'/photos/' + photo?.id">
      <div class="relative">
        <img
          class="w-full"
          :src="isOriginal ? photo?.url : photo?.thumbnailUrl"
          :alt="photo?.title"
        />
      </div>
    </router-link>
    <div class="px-6 py-4">
      <router-link
        :to="'/photos/' + photo?.id"
        class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out"
        >{{ photo?.title }}
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { SetupContext, PropType, onMounted, defineComponent } from "vue";
import { ServiceModel } from "@/model";
import { Path } from "@/constant";

export default defineComponent({
  props: {
    photo: {
      type: Object as PropType<ServiceModel.photo.Photo>,
    },
    isOriginal: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, context: SetupContext) {
    onMounted(() => {});

    return {};
  },
});
</script>
