<template>
  <Spinner class="flex item-center mx-auto" :size="50" v-if="loading" />
  <Alert
    v-else-if="errorMessage"
    :type="AlertTypeEnums.Error"
    :text="errorMessage"
  />

  <div v-else class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
    <div class="grid grid-cols-2 md:grid-cols-6 sm:grid-cols-4 gap-10">
      <template v-for="(photo, i) in photoList" :key="i">
        <PhotoCard :photo="photo" />
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import { SetupContext, ref, onMounted, defineComponent } from "vue";
import { Spinner, Alert } from "@/ui";
import { AlertTypeEnums } from "@/ui/enums";
import { Services } from "@/services";
import { ServiceModel } from "@/model";
import PhotoCard from "./PhotoCard.vue";

export default defineComponent({
  components: { Spinner, Alert, PhotoCard },
  prop: { Spinner, Alert },

  setup(props, context: SetupContext) {
    let loading = ref(false);
    let errorMessage = ref("");
    let photoList = ref<ServiceModel.photo.Photo[]>([]);

    onMounted(async () => {
      await getPhotoList();
    });

    async function getPhotoList() {
      loading.value = true;
      const response = await new Services.PhotoService().list();
      loading.value = false;
      if (!response.status) {
        errorMessage.value = response.message;
        return;
      }
      photoList.value = response.data.slice(0, 100);
      console.log("photoList.value", photoList.value);
    }
    return {
      AlertTypeEnums,
      loading,
      errorMessage,
      photoList,
    };
  },
});
</script>
