<template>
  <Header v-if="$route.meta.layout === 'main'" />
  <router-view></router-view>
</template>

<script lang="ts">
import { defineComponent, computed, watch, onMounted } from "vue";
import { redirectIfNotLogin } from "./components/authentication/auth";
import Header from "@/layout/Header.vue";

export default defineComponent({
  components: { Header },
  setup() {
    onMounted(() => {
      redirectIfNotLogin();
    });
  },
});
</script>
