<template>
  <div class="alert" :class="[type, direction]">
    <i class="icon" :class="`icon-` + type"></i>
    <p v-if="title" class="title">{{ title }}</p>
    <p v-if="text" class="text">{{ text }}</p>
  </div>
</template>

<script lang="ts">
import { AlertTypeEnums, DirectionEnums } from "../enums";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  name: "Alert",
  props: {
    type: {
      type: String as PropType<AlertTypeEnums>,
      default: AlertTypeEnums.DEFAULT,
    },
    direction: {
      type: String as PropType<DirectionEnums>,
      default: DirectionEnums.DEFAULT,
    },
    text: {
      type: String,
    },
    title: {
      type: String,
    },
  },
  setup(props, context) {},
});
</script>

<style lang="scss" src="./alert.scss" scoped></style>
