.alert {
    padding: 1.5rem;
    margin: 1rem auto;
    width: 80%;
    color: rgba(0, 0, 0, 0.87);
    @apply rounded relative text-left;
    .title {
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        line-height: 1.9rem;
        @apply font-semibold;
    }
    .icon {
        font-size: 1.7rem;
        top: 1.5rem;
        @apply absolute;
    }
    .icon+.text,
    .icon+.title,
    .icon+.title+.text {
        @apply pl-12;
    }
    .text {
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        line-height: 1.9rem;
        @apply font-semibold;
    }
    .title+.text {
        font-size: 1rem;
        letter-spacing: 0.05em;
        line-height: 1.9rem;
        @apply font-normal;
    }
    &.error {
        background: linear-gradient( 0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), var(--error);
        .icon,
        .text,
        .title {
            color: var(--error);
        }
    }
    &.success {
        background: linear-gradient( 0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), var(--success);
        .icon,
        .text,
        .title {
            color: var(--success);
        }
    }
    &.warning {
        background: linear-gradient( 0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), var(--warning);
        .icon,
        .text,
        .title {
            color: var(--warning);
        }
    }
    &.info {
        background: linear-gradient( 0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), var(--info);
        .text,
        .title,
        .icon {
            color: var(--info);
        }
    }
    &.rtl {
        direction: rtl;
        @apply text-right;
        .title,
        .text {
            @apply pr-12 pl-0;
        }
        .icon+.text,
        .icon+.title,
        .icon+.title+.text {
            @apply pr-12 pl-0;
        }
    }
}