<template>
  <nav>
    <router-link :to="Path.home">Home</router-link> |
    <router-link :to="Path.post_list">Posts</router-link> |
    <router-link :to="Path.photo_list">Photos</router-link> |
    <router-link :to="Path.logout">Log out</router-link>
  </nav>
</template>
<script setup lang="ts">
import { Path } from "@/constant";
</script>
<style lang="scss">
nav {
  padding: 30px;
  text-align: center;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
